body{
    background-color: #13005A;
    text-align: center;
}


h1 {
    font-size: 5rem;
    color: #DBEDF3;
    text-align: center;
}


.grid{
    text-align: center;
    margin-top: 3.125rem;
}


.each-grid{
    border: 0.625rem solid #00337C;
    border-radius: 0.9375rem;
    display: inline-block;
    width: 9.375rem;
    height: 9.375rem;
    margin: 0.625rem;
    background-color: white;
}


.cross-img{
    text-align: center;
    background-image: url("cross-move.png");
}


.circle-img{
    text-align: center;
    background-image: url("circle-move.png");
}


footer {
    margin-top: 6.25rem;
    margin-bottom: 4.375rem;
    color: #DBEDF3;
    font-family: serif;
    font-size: 1.3rem;
}
